[mysqld]
# ===== デフォルトの設定 START =====

pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL
log-error=/var/log/mysqld.log

# ===== デフォルトの設定 END =====

character_set_server=utf8mb4
collation-server=utf8mb4_bin

